
.second{
justify-content: center;
font-size: 5rem;
height: 550px;
margin-top: 70px;
color: #cfbaba;
}
.paragraph{
 color: #cfbaba;
font-size: 2rem;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column-reverse;
}

.fa-arrow-right{
 color: #ff0000;
 background-color: #ffffff;
 border: none;
 border-radius:20px;
 padding: 5px;
}