
.menu a{
    text-decoration: none;
     color: #ffffff; 

}
.right-menu{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    color: #ffffff;
    font-size: 2rem;
    width: 70%;    
}
.left-logo{
    margin: 20px;
    display: flex;
    margin-left: 60px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.button{
    border: 1px solid white;
    border-radius: 45%;
    padding: 15px;
}
.bg-red{
    background-color: red;
    border: none;
}
.second{
justify-content: center;
font-size: 5rem;
height: 550px;
margin-top: 70px;
color: #ffffff;
}
.paragraph{
 color: #ffffff;
font-size: 2rem;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column-reverse;
}


