.feedback-container{
    height: 720px;
    background-image: url(../assets/4beaa66e-dda0-460b-84e4-640fa692e00e.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #ffffff;
}
.main-head{
    font-size: 5rem;
}
.feedback-head{
    font-size: 12rem;
}
.para-head{
    font-size: 3rem;
}
.feedback-left-form{
    margin-left:  60px;
    margin-right: auto;
    width: 48%;
}
.b-left{
    font-size: 1.7rem;
    color: #ffffff;
    padding: 20px ;
    margin: 30px 0px 30px 80px;
    border-right: 1px dotted #ffffff ;
    width: 46.4%;
}
.FSCV{
    color:#ffffff ;
    font-size: 1.5rem;
    margin-left: 40px;
    margin-top: 40px;
}
.fa-star{
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    margin-right: 2px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}
.text-form form{
    display: flex;
    font-size: 2rem;
    padding: 13px;
    gap: 20px;   
    height: 80px;
    margin-left: 23px;
}
.date{
    height: 80px;
    padding: 13px;
    margin-left: 25px;
}
.email{
    height: 80px;
    padding: 13px;
    margin-left: 25px;
}
.text-area{
    height: 80px;
    padding: 20px;
    margin-left: 18px;
}
.f-item{
    font-size: 2rem;
    padding: 40px;
    color: #ffffff;
}
.empty{
    font-size: 2rem;
    padding-left:25px;
}
.radio{
    font-size: 2rem;
    padding-left: 50px;
    color: #ffffff;
    gap: 20px;
    display: flex;
    
}
.s-item {
    font-size: 2rem;
    padding-left: 50px;
    color: #ffffff;

}
.submit button{
    font-size: 1.5rem;
    margin: 20px;
    background-color: #ff0000;
    margin-left: 50px;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 20px;

}
.right-box{
    font-size: 1.5rem;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 1px dotted #ffffff ;
    word-spacing: 5px;
    margin-left: auto;
    width: 48%;
}
h5{
    font-size: 3rem;
    align-items: center;
    text-align: center;
    padding: 20px;
}
h6{
    font-size: 3rem;
    text-align: center;
    padding: 20px; 
}
.feedback-left-right{
    display: flex;
}
