
.second{
text-align: center;
font-size: 2rem;
margin-top: 70px;
color: #cfbaba;

}


.first-img{
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
}
.first-p{
    color: #ffffff;
    border: 2px solid #3d3838;
    border-radius: 40px;
    padding: 20px;
    margin-top: 30px;
    /* margin-left: 250px; */
    
}

.second-img{
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
}
.Second-p{
    color: #ffffff;
    border: 2px solid #3d3838;
    border-radius: 40px;
    padding: 20px;
    margin-top: 30px;
    /* margin-left: 470px; */
}

.third-img{
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
}
.third-p{
    color: #ffffff;
    border: 2px solid #3d3838;
    border-radius: 40px;
    padding: 20px;
    margin-top: 30px;
    /* margin-left: 670px;
    margin-right: 250px; */
}

.threes-img{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.threes-p{
    display: flex;
    gap: 220px;
    justify-content: center;
    font-size: 1.5rem;
}


h2{
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
}

.third{
    background-color: #0f0f0f;
}

.paragraph{
    color: #cfbaba;
    text-align: center;
    font-size: 2rem ;
}


 /* .islamabad{
    display: flex;

}

a{
    color: #cfbaba;
    border: 1px solid #ffffff;
    border-radius: 30px;
    text-decorations: none;


}
.isl{
    color: #ff0000;
    font-size: 2rem;
}
.isl-img{
    float: right;
}  */