.d-flex{
    display: flex;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --white:#ffffff;
    --black: #000000;
    --green: #008000;
    --grey: #0f0f0f;
}
 body{
     background-color: #000000;
}
.txt-white{
     color: #a79292;
}
.txt-center{
    text-align: center;
}